*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3ebe4;
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #888686;
}

.preview-card__subtitle {
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.preview-card__description {
  line-height: 1.5rem
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: 260%;
  line-height: 1em;
  margin-right: .5em;
}

.button-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
}

#new-price {
  color: #3a7d64;
  display: inline-block;
}

#old-price {
  font-size: 1rem;
  text-decoration: line-through;
  display: inline-block;
}

@media (min-width: 800px) {
  .preview-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    max-width: 700px;
    max-height: 520px;
    background-color: fffff;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -260px 0 0 -350px;
  }

  #preview-card__image {
    width: 350px;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .preview-card {
    background-color: white;
    margin: 2em;
    border-radius: 8px;
    overflow: hidden;
  }

  #preview-card__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.preview-card__text {
  margin: 16px 32px 16px 32px;
}

.preview-card__description {
  margin-bottom: 0;
}

.price {
  display: flex;
  align-items: center;
}

button {
  width: 100%;
  background-color: #364835;
  border-style: none;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}

i {
  margin-right: 0.75em;
}

.attribution { 
  text-align: center;
  margin-top: auto;
  bottom: 0;
  margin-left: 00px;
 }

.attribution a { color: hsl(228, 45%, 44%); }
.attribution > p { display: inline-block; }