body {
  background-color: #f3ebe4;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #888686;
}

.preview-card__subtitle {
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.preview-card__description {
  line-height: 1.5rem
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: 260%;
  line-height: 1em;
  margin-right: .5em;
}

.button-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
}

#new-price {
  color: #3a7d64;
  display: inline-block;
}

#old-price {
  font-size: 1rem;
  text-decoration: line-through;
  display: inline-block;
}

.preview-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  max-width: 700px;
  max-height: 520px;
  background-color: fffff;
  margin: 120px auto 100px auto;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .preview-card {
    background-color: blue;
  }
}

#preview-card__image {
  width: 350px;
  height: 100%;
  object-fit: cover;
}

.preview-card__text {
  margin: 16px 32px 16px 32px;
}

.preview-card__description {
  margin-bottom: 0;
}

.price {
  display: flex;
  align-items: center;
}

button {
  width: 100%;
  background-color: #364835;
  border-style: none;
  border-radius: 8px; 
}

i {
  margin-right: 0.75em;
}

.attribution > p {
  display: inline-block;
}